/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Roboto", sans-serif;
  background-color: #EDEADE;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0; 
}

main {
  text-align: center;
  color: black;
  flex: 1;
}

/* navbar */
header {
  background-color: #00a2ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  padding-left: 20px;
  width: 80%;
}
header nav ul {
  padding-right: 40px;
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-nav {
  text-align: center;
}

.navbar-toggler {
  margin-right: 20px;
}

.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 24px;
}
.navbar .navbar-nav .nav-link:hover {
  color: #EDEADE;
}
.navbar .navbar-nav .nav-link:active {
  background-color: #ff9a00;
  color: #000000;
}

.navbar-toggler {
  color: #ff9a00;
}
.cart{
  height: 8vh;
  align-items: center;
  justify-content: center;
}

/* footer */
footer {
  text-align: center;
  background-color: #ff9a00;
  font-weight: bold;
  font-size: larger;
  margin-bottom: -21px;
  color: black;
}

/* MEDIA QUERIES */
/*NavBar*/
@media screen and (max-width: 600px){
  .navbar .navbar-nav .nav-link {
    font-size: 18px;
  }
}
  
/* Body */
@media screen and (min-width: 1024px) {
  h1 {
    font-weight: bold;
    font-size: 60px;
    margin: 20px;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-weight: bold;
    font-size: 30px;
    margin: 30px;
  }
}
/* pagina principal */

 .custom-quantity {
  width: 50px; 
  padding: 5px; 
  border: none; 
  border-radius: 5px;
  font-size: 16px; 
}
.custom-quantity:focus {
  outline: none; 
}

/* pagina principal */
@media screen and (min-width: 1024px) {
  main .bienvenida {
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    font-size: 20px;
  }
  .list-group-item {
    height: 410px;
    width: 400px;
    background-color:#00a2ff;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    font-size: x-large;
    font-weight: bold;
    color: black;
  }
  .list-group{
    display: flex;
    gap: 10vh;
    justify-content: center;
   align-items: center;
   flex-direction: row;
  }
    .list-group-item img{
      height: 300px;
      width: 300px;
  }
  .add-to-cart {
    margin-top: 20px;
    background-color: #ff9a00;
    border: none;
    font-weight: bold;
    color: black;
  }
  .add-to-cart:hover {
    margin-top: 20px;
    background-color: #ff9a00;
    border: none;
    font-weight: bold;
    color: black;
  }
  .add-to-cart:active {
    margin-top: 20px;
    background: #ff9a00 !important ;
    border: none;
    font-weight: bold;
    color: black;
  }
  
} 
@media screen and (max-width: 600px) {
  main .bienvenida {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 20px;
  }
  .list-group-item {
    height: 410px;
    width: 400px;
    background-color:#00a2ff;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    font-size: x-large;
    font-weight: bold;
    color: black;
  }
  .list-group{
    display: flex;
    gap: 10vh;
    justify-content: center;
   align-items: center;
  }
    .list-group-item img{
      height: 300px;
      width: 300px;
  }
  .add-to-cart {
    margin-top: 20px;
    background-color: #ff9a00;
    border: none;
    font-weight: bold;
    color: black;
  }
  .add-to-cart:hover {
    margin-top: 20px;
    background-color: #ff9a00;
    border: none;
    font-weight: bold;
    color: black;
  }
  .add-to-cart:active {
    margin-top: 20px;
    background-color:#ff9a00 !important ;
    border: none;
    font-weight: bold;
    color: black;
  }
}

@media screen and (min-width: 600px) {
  main .bienvenida {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 20px;
  }
  .list-group-item {
    height: 410px;
    width: 400px;
    background-color:#00a2ff;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    font-size: large;
    font-weight: bold;
    color: black;
  }
  .list-group{
    display: flex;

    justify-content: center;
   align-items: center;
  }
    .list-group-item img{
      height: 300px;
      width: 300px;
  }
  .add-to-cart {
    margin-top: 20px;
    background-color: #ff9a00;
    border: none;
    font-weight: bold;
    color: black;
  }
  .add-to-cart:hover {
    margin-top: 20px;
    background-color: #ff9a00;
    border: none;
    font-weight: bold;
    color: black;
  }
  .add-to-cart:active {
    margin-top: 20px;
    background: #ff9a00 !important ;
    border: none;
    font-weight: bold;
    color: black;
  }
}

/* sobre nosotros */
@media screen and (min-width: 1024px) {
  main .us {
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
  }
  main .letraspequenias {
    margin-bottom: 16px;
  }
  main .device {
    width: 40%;
    height: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .us {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .device {
    width: 70%;
    height: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .letraspequenias {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

/* footer */
@media screen and (max-width: 600px) {
  footer {
    margin-top: 80px;
    font-size: 18px;
    text-align: center;
    background-color: #ff9a00;
    font-weight: bold;
    margin-bottom: -21px;
  }
}

/*Login*/
#login-section {
  margin-bottom: 20px;
}

#login-form {
  margin-top: 10px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color:#EDEADE;
}

#login-form input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}


/*CART*/
.btn-primary {
  margin-top: 20px;
  background-color: #ff9a00;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: bold;
  color: black;
}
.btn-primary:hover {
  margin-top: 20px;
  background-color: #ff9a00;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: bold;
  color: black;
}
.btn-primary:active {
  margin-top: 20px;
  background: #ff9a00 !important ;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: bold;
  color: black;
}
.total-price {
  font-size: 24px;
  font-weight: bold;
}
